/* CSS for the About Us component */

.about-us {
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .about-us h2 {
    font-size: 2em;
    margin-bottom: 15px;
  }
  
  .about-us p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 30px;
  }
  
  .mission h3,
  .what-sets-us-apart h3,
  .list-property h3,
  .get-in-touch h3 {
    font-size: 1.5em;
    margin-bottom: 15px ;
  }
  .get-in-touch h3{
    margin-top: 15px;
  }
  
  .list-property-button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .list-property-button:hover {
    background-color: #0056b3;
  }
  
  /* Specific section styles */
  .what-sets-us-apart ul {
    list-style: none;
    padding-left: 0;
  }
  
  .what-sets-us-apart li {
    margin-bottom: 10px;
  }
  
  .what-sets-us-apart li:before {
    content: '•';
    margin-right: 8px;
    color: #007bff;
  }
  