.header{
    background-color: #003580;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
}
.header-container{
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;

}
.header-container.listMode{
    margin: 20px 0px 0px 0px;
}

.header-list{
    display: flex;
    gap: 40px;
    margin-bottom: 40px;
}
.header-list-item{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border: 1px solid transparent; 
    transition: background-color 0.3s, border-color 0.3s;
    padding: 10px; /* Set a constant padding */
    border-radius: 20px;
    box-sizing: border-box; /* Ensure padding is included in the element's size */
}
.header-list-item.active{
    border: 1px solid white;

}
.header-list-item:hover{
    background-color:#0071C2;
    border-color:#0071C2; 
    
}

.header-description{
    margin: 20px 0px;
}
.header-button{
    background-color: #0071c2;
    color: #fff;
    font-weight:bold;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    cursor: pointer;
   
}
.header-search{
    height: 30px;
    background-color: #fff;
    border: 3px solid #febb02;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    width: 100%;
    max-width: 1024px;
    

}
.header-icon{
    color: lightgray;
}
.header-search-item{
    display: flex;
    align-items: center;
    gap: 10px;
}
.header-search-input{
    border: none;
    outline: none;
}
.header-search-text{
    color: lightgrey;
    cursor: pointer;
}
.date{
    position: absolute;
    top: 50px;
    z-index: 2;

}
.options{
    position: absolute;
    top: 50px;
    background-color: #fff;
    color: gray;
    border-radius: 5px ;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 2;
}

.options-item{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.option-counter{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: black;
}
.option-counter-button{
    width: 30px;
    height: 30px;
    border: 1px solid #0071c2;
    color: #0071c2;
    cursor: pointer;
    background-color: white;
   
}
.option-counter-button:disabled{
cursor: not-allowed;
}